.main-header .logo {
    font-size:22px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 {
    margin: 0 0 0 16px;

}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > p {
    margin: 0 0 0 16px;
}